@{
    ViewData["Title"] = "Rol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Estilos {
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
@*     <link rel="stylesheet" href="~/css/styleGenerales.css"> *@
}

<div class="card shadow-sm mb-2">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de Roles</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <button class="btn btn-success" id="btnNuevo" data-toggle="modal" data-target="#modalData">
                    <i class="fas fa-plus-circle"></i>
                    Nuevo Rol
                </button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-bordered" id="tbdata" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripcion</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 <!--  Modal-->
<div class="modal fade" id="modalData" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card shadow-sm">
                <div class="card-header py-2 bg-second-primary">
                    <h6 class="m-0 font-weight-bold text-white">
                        <i class="fas fa-user-tag"></i> Detalle Rol
                        <button class="close float-right" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="text-white">×</span>
                        </button>
                    </h6>
                </div>
                <div class="card-body p-2">
                    <form>
                        <input type="hidden" value="0" id="txtId">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="form-row">

                                    <div class="form-group col-sm-12">
                                        <label for="txtDescripcionRol">Descripción Rol</label>
                                        <input type="text" class="form-control form-control-sm input-validar" id="txtDescripcionRol" name="Razon Social">
                                    </div>
                                </div>

                                <div class="form-row">

                                    <div class="form-group col-sm-12">
                                        <label>Permisos</label>

                                    </div>
                                </div>

                                <div class="form-row">

                                        <div class="form-group col-sm-4">
                                            <label for="checkConsultar">Consultar  </label>
                                            <input type="checkbox" class="custom-checkbox.small" id="checkConsultar">
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label for="checkModificar">Modificar  </label>
                                            <input type="checkbox" class="custom-checkbox.small" id="checkModificar">
                                        </div>

                                        <div class="form-group col-sm-4">
                                            <label for="checkEliminar">Eliminar  </label>
                                            <input type="checkbox" class="custom-checkbox.small" id="checkEliminar">
                                        </div>

                                    </div>

                                <div class="form-row">

                                    <div class="form-group col-sm-6">
                                        <label for="cboEstado">Estado</label>
                                        <select class="form-control form-control-sm" id="cboEstado">
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                    </form>
                </div>
                <div class="card-body p-0 d-flex justify-content-end">
                    <button class="btn btn-primary btn-sm m-1 mr-2" type="button" id="btnGuardar">Guardar</button>
                    <button class="btn btn-danger btn-sm m-1" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>



 
@section Scripts {

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <script src="~/js/vistas/Rol_Index.js"></script>

}
